{% extends "layouts/base.njk" %}

{% block title %}
  {{ "TITLES.NOT_FOUND" | translate }} | {{ super() }}
{% endblock %}

{% block content %}
  <section class="flex flex-col gap-2 w-full">
    <h1 class="text-4xl font-bold text-center">{{ "TITLES.NOT_FOUND" | translate }}</h1>
    <p class="text-center">{{ "TEXTS.ERRORS.NOT_FOUND" | translate }}</p>
  </section>
{% endblock %}