{% extends "layouts/base.njk" %}

{% block title %}
  {{ "TITLES.HOME" | translate }} | {{ super() }}
{% endblock %}

{% block metadescription %}
  {{ "TEXTS.HOME.DESCRIPTION" | translate }}
{% endblock %}

{% block content %}
  <section class="flex flex-col gap-2 w-full">
    <h1 class="text-2xl font-bold">
      {{ "TITLES.HOME" | translate }}
    </h1>

    <p class="text-lg">
      {{ "TEXTS.HOME.DESCRIPTION" | translate }}
    </p>
  </section>
{% endblock %}